*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-items-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}